@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&amp;display=swap');

@import './variables.scss';



.header {
    font-size: 30px;
    font-weight: bold;
    font-family: Rubik;

    #navItem {
        &:hover {
            color: $link-hover;
        }
    }
}

.container {
    // border: solid;
    padding: 10px;
}

.container01 {
    border: solid;
    border-radius: 2%;
    // background-color:azure;
}

#sample-image {

    background: url('/images/placeholder.jpg') no-repeat scroll 0 0;
}

#imageSrc {
    max-width: 600px;
    background: url('/images/placeholder.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}